<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>BoBot Giveaways</title>
  <link rel="icon" type="image/png" href="/assets/favicon.png" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script defer type="text/javascript" src="/Discordscript.js"></script>
</head>

<body>
  <p id="text">Loading!!!</p>
</body>

</html>