<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SnapBot</title>
  <link rel="icon" type="image/png" href="/assets/favicon.png" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script defer type="text/javascript" src="/Twitterscript.js"></script>
</head>

<body>
  <div class='text'>
    <p id='topText'>SnapBot</p>
  </div>
  <div class='loading'>
    <img src='../assets/loadingGif.gif' alt='loading'>
  </div>
  <div class="icons">
    <img id="bot" src='assets/giveawayIcon.png' alt='giveaway bot'>
    <img id="connect" src='assets/connections.png' alt='3 dots lol'>
    <img id="twitter" src='assets/twitterLogo.png' alt='twitter'>
  </div>
  <div class="bottom">
    <div class="success common successBackground">
      <div class='successImage'>
        <img class='paddingImages' src='assets/check.png' alt='success'>
      </div>
      <div class='successText'>
        <p>Authentication Successful! Now you can go back to Discord!</p>
      </div>
    </div>
    <div class="failure common failureBackground">
      <div class='failureImage'>
        <img class='paddingImages' src='assets/cross.png' alt='failure'>
      </div>
      <div class='failureText'>
        <p>It looks like this didn't work. Please go back to Discord and try again.</p>
      </div>
    </div>
  </div>
</body>

</html>